__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
.DS_Store
Output/
OutputSimulation/
Models_Pictures/
*.pdf
*.pptx
Data_Preparation/InputModel/
.DS_Store
Data_Preparation/InputModel/
Output/
OutputSimulation/
Models_Pictures/
Models/*.joblib
